{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"id-length": 0,
		"multiline-comment-style": 0,
		"new-cap": [2, {
			"capIsNewExceptions": [
				"ArrayBufferCopyAndDetach",
				"DetachArrayBuffer",
				"GetIntrinsic",
				"IsDetachedBuffer",
				"IsFixedLengthArrayBuffer",
				"ToIndex",
			],
		}],
	},

	"overrides": [
		{
			"files": "test/**",
			"globals": {
				"Uint8Array": false,
			},
			"rules": {
				"max-lines-per-function": "off",
			},
		},
	],
}
